.menu {
	color: white;
	background-color: transparent;
	border: none;
	padding: 0 5.5%;
	height: 26.76px;
	font-family: 'Oxygen', sans-serif;
	font-size: 1.1em;
	font-weight: 700;
	text-transform: capitalize;
	line-height: 26.76px;
}

.menu:hover{
	color: white;
	background-color: #212121;
}

.menu:focus{
	outline: none;
}

.left{
	float: left;
}

.right{
	float: right;
}


.container{
	margin: 0 auto;
	max-width: 40%;
}


.table{
	width: 50%;
	margin: 20px auto;
}


.s-row-1 > .s-col {
	border-top: 5px solid white;
	border-bottom: 1px solid white;
}


.s-row-2 > .s-col {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}


.s-row-3 > .s-col {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}


.s-row-4 > .s-col {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}


.s-row-5 > .s-col {
	border-bottom: 5px solid white;
	border-top: 1px solid white;

}


.s-col {
	box-sizing: border-box;
	float: left;
	width: 20%;
	padding-bottom: 20%;
}


.s-col-1 {
	border-left: 5px solid white;
	border-right: 1px solid white;	
}


.s-col-2 {
	border-left: 1px solid white;
	border-right: 1px solid white;
}


.s-col-3 {
	border-right: 1px solid white;
	border-left: 1px solid white;
}


.s-col-4 {
	border-right: 1px solid white;
	border-left: 1px solid white;
}


.s-col-5 {
	border-left: 1px solid white;
	border-right: 5px solid white;
}

 
.s-group-1 {
	background-color: #00363a;
}


.s-group-2 {
	background-color: #1a237e;
}


.s-group-3 {
	background-color: #1a237e;
}


.s-group-4 {
	background-color: #00363a;
}


.s-group-5 {
	background-color: #01579b;
}


#stripe {
	background-color: #01579b;
}
